<h2 mat-dialog-title>
  Մակարդակ
  <button mat-icon-button *ngIf="viewMode" matTooltip="Խմբագրել"
          (click)="edit()">
    <mat-icon class="mat-icon-rtl-mirror icon">
      edit
    </mat-icon>
  </button>
</h2>
<mat-dialog-content (keydown.enter)="confirm()">
  <form>
    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>Անուն</mat-label>
      <input matInput [formControl]="nameFormControl">
      <mat-error *ngIf="nameFormControl.hasError('required')">
        Անունը <strong>պարտադիր է</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>Նկարագրություն</mat-label>
      <textarea matInput [formControl]="descriptionFormControl" ></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions fxLayout fxLayoutAlign="flex-end">
  <button mat-button mat-dialog-close>Չեղարկել</button>
  <button mat-raised-button (click)="confirm()"
          [disabled]="!nameFormControl.valid"
          color="primary">Պահպանել</button>
</mat-dialog-actions>
